header {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    background: #ffbd19;
    justify-content: space-between;
    display: flex;
}

header h1 {
    padding-top: 10px;
    padding-left: 10px;
    color: #d2042d;
}

header img {
    padding-top: 10px;
    height: 100px;
    width: 200px;
}



nav {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    background: #ffbd19;
    margin-bottom: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    display: inline-block;
}

nav ul li {
    position: relative;
    margin: 0 20px 0 0;
    float: left;
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    display: inline-block;
    color: #d2042d;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background: #ffbd19;
    float: left;
}

nav ul li ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

nav ul li:hover ul {
    display: block;
}

body {
    background-image: url(https://i.pinimg.com/originals/07/3f/6a/073f6a27bb396f2e95361c82a0224c12.jpg);
    margin: 0;
    padding-bottom: 100px;
    justify-content: center;
}

.top-text {
    color: #d2042d;
    background-color: #ffbd19;
    border: #d2042d;
    height: auto;
    text-align: center;
    border-radius: 25px;
    margin-left: 10px;
    margin-bottom: 25px;
    width: fit-content;
    padding: 10px;
}

body h1, h2, h3, p {
    color: #d2042d;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


.home-sub-container{
flex-direction: column;
margin: 10px;
}


.all-items-displayed {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.individual-items {
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
    background-color: #ffbd19;
    border: #d2042d;
    text-align: center;
    height: auto;
}


.edit-form {
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    gap: 10px;
    width: 200px;
    background-color: #ffbd19;
    border: #d2042d;
    margin-left: 10px;
    margin-right: 10px;

}


progress{
    height: 30px;
}

progress#capacity:hover:after {
    display: inline;
    content: attr(value);
}


.items-container {
    display: flex;
    justify-content: space-around;
}


a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

input {
        cursor: pointer;
}

select {
    cursor: pointer;
}

.button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
}






footer {
    border-top: 5px solid #F45140;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffbd19;
    color: #d2042d;
    display: flex;
    justify-content: center;
    }
