{% extends "base.html" %}
{% block content %}

<h2>Add {{member.first_name}} {{member.last_name}} To A Lesson</h2>

<div class="edit-form" >

<form action="/visits/{{member.id}}" method="POST">

    <div>
        <label for="lesson_id">Lesson:</label>
        <select name="lesson_id" id="lesson_id">
            {% for lesson in lessons %}
            <option value="{{ lesson.id }}">
                {{ lesson.name }}
            </option>
            {% endfor %}
        </select>
    </div>
        <input type="submit">
    </div>

</div>


{% endblock %}