{% extends "base.html" %}
{% block content %}

<h2>Add Member To A Lesson</h2>

<div class="new_item" >

<form action="/visits" method="POST">
    <div>
        <label for="member_id">Member:</label>
        <select name="member_id" id="member_id">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.first_name }}  {{member.last_name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="lesson_id">Lesson:</label>
        <select name="lesson_id" id="lesson_id">
            {% for lesson in lessons %}
            <option value="{{ lesson.id }}">
                {{ lesson.name }}
            </option>
            {% endfor %}
        </select>
    </div>
        <input type="submit">
    </div>

</div>


{% endblock %}