{% extends "base.html" %}
{% block content %}

<div class="top-text">
<h2>Add Another Lesson To Avergae Joe's</h2>
<h3>Don't Be Dissapointed When No One Attends</h3>
</div>

<div class="all-items-displayed">

<div class="edit-form">

<form action="/lessons/add" method="post">
    <label for="name">Lesson Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="time">Time:</label><br>
    <input type="time" id="time" name="time"><br>
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date"><br>

    <label for="location_id">Location:</label>
        <select name="location_id" id="location_id">
            {% for location in locations %}
            <option value="{{ location.id }}">
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
        <label for="instructor_id">Instructor:</label>
        <select name="instructor_id" id="instructor_id">
            {% for instructor in instructors %}
            <option value="{{ instructor.id }}"> {{ instructor.name }}</option>{% endfor %}<br>
        </select>
    <label for="capacity">Lesson Capacity:</label><br>
    <input type="number" id="capacity" name="capacity"><br>
    <input type="submit" value="Submit">
</form>
</div>
</div>

{% endblock %}