{% extends 'base.html' %}

{% block content %}

<div class="home-container">

<div class="home-sub-container">

<h2>{{lesson.name}}</h2><br>
{{lesson.time}}<br>
{{lesson.date}}<br>
{{lesson.location.name}}<br>
{{lesson.instructor.name}}<br>
{{lesson.capacity}}<br>

<a href="/lessons/{{ lesson.id }}/edit">Edit {{lesson.name}}</a><br>
<a href="/lessons/{{ lesson.id }}/delete">Delete {{lesson.name}}</a>

</div>

<div class="home-sub-container">
<h2> Current Members Enrolled</h2>

{% for member in members %}
    <!-- <div class="individual-items"> -->
    <a href="/members/{{ member.id }}">
        <p> {{ member.first_name }} {{ member.last_name}} </p>
    </a>
    <form action="https://google.com">
    <input type="submit" value="Remove From Lesson" />
    </form>
    {% endfor %}
</div>

</div>



{% endblock %}