{% extends 'base.html' %}

{% block content %}

<div class="items-container">

<div class="individual-items">

<h2>{{lesson.name}}</h2><br>
{{lesson.time}}<br>
{{lesson.date}}<br>
{{lesson.location.name}}<br>
{{lesson.instructor.name}}<br>
{{lesson.capacity}}<br>

<a href="/lessons/{{ lesson.id }}/edit">Edit {{lesson.name}}</a><br>
<a href="/lessons/{{ lesson.id }}/delete">Delete {{lesson.name}}</a>

</div>

<div class="individual-items">

<h2> Current Members Enrolled</h2>

{% for visit in visits %}
    <!-- <div class="individual-items"> -->
    <a href="/members/{{ visit.member.id }}">
        <p> {{ visit.member.first_name }} {{ visit.member.last_name}} </p>
    </a>
    <form action="/visits/{{visit.id}}/delete">
    <input type="submit" value="Remove From Lesson"/>
    </form>
    {% endfor %}
</div>

</div>



{% endblock %}