{% extends 'base.html' %}

{% block content %}

<div class="items-container">

<div class="individual-items">
<h2>{{lesson.name}}</h2>
<p>Time: {{lesson.time}}</p>
<p>Date: {{lesson.date}}</p>
<p>Lesson: {{lesson.location.name}}</p>
<p>Instructor: {{lesson.instructor.name}}</p>
<p>Capacity: {{lesson.capacity}}</p>

<a href="/lessons/{{ lesson.id }}/edit">Edit {{lesson.name}}</a><br>
<a href="/lessons/{{ lesson.id }}/delete">Delete {{lesson.name}}</a>

</div>

<div class="individual-items">

<h2> Current Members Enrolled</h2>

{% for visit in visits %}
    <!-- <div class="individual-items"> -->
    <a href="/members/{{ visit.member.id }}">
        <p> {{ visit.member.first_name }} {{ visit.member.last_name}} </p>
    </a>
    <form action="/visits/{{visit.id}}/delete">
    <input type="submit" value="Remove From Lesson"/>
    </form>
    {% endfor %}
</div>

</div>



{% endblock %}