<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Average Joe's Gym - {{ page_title }}</title>
</head>

<body>
    <header>
        <h1>Average Joe's Gym</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    Members
                    <ul>
                        <li><a href="/members"> View All Members</a></li>
                        <li><a href="/members/new">Add A New Member</a></li>                        
                    </ul>
                </li>
                <li>
                    Lessons
                    <ul>
                        <li><a href="/lessons">View All Lessons</a></li>
                        <li><a href="/lessons/new">Add A New Lesson</a></li>
                    </ul>
                </li>
                <li>
                    Instructors
                    <ul>
                        <li><a href="/instructors">View All Instructors</a></li>
                        <li><a href="/instructors/new">Add A New Instructor</a></li>
                    </ul>
                </li>
                <li>
                    Locations
                    <ul>
                        <li><a href="/locations">View All Locations</a></li>
                        <li><a href="/locations/new">Add A New Location</a></li>
                    </ul>
                </li>
                 <li>
                    Lesson Management
                    <ul>
                        <li><a href="/visits">Add A Member To A Lesson</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>