<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <title>Average Joe's Gym - {{ page_title }}</title>
</head>

<body>
    <header>
        <h1>Average Joe's Gym</h1>
        <img src="https://sites.google.com/site/jamesharrysebgym/_/rsrc/1472873645382/config/customLogo.gif?revision=10" alt="logo" />


    </header>
        <nav role="navigation" class="nav-container">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/members">Members</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="/members/new">Add A New Member</a></li>                        
                    </ul>
                </li>
                <li class="nav-item"><a href="/lessons">Lessons</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="/lessons/new">Add A New Lesson</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/instructors">Instructors</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="/instructors/new">Add A New Instructor</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/locations">Locations</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="/locations/new">Add A New Location</a></li>
                    </ul>
                </li>
                 <li class="nav-item"><a href="/visits">Book A Lesson</a>
                    </ul>
                </li>
            </ul>
        </nav>


    <div class="container">
        {% block content %}
        



        {% endblock %}
    </div>


    <footer>
        <div class="footer-container">
            <h4>Average Joe's Gym - Because You Are Worthless</h4>
        </div>
    </footer>

</body>
</html>