{% extends "base.html" %}
{% block content %}

<h2>Welcome to Average Joe's Gym Booking Application </h2>
<h3></h3>

<div class="all-items-displayed">

        
        {% for dictionary in lesson_and_attendees %}
        <div class="individual-items ">
        <a href="/lessons/{{ dictionary["lesson"].id }}">
        Class : {{ dictionary["lesson"].name }} <br>
        Time: {{ dictionary["lesson"].time }} <br>
        Date: {{ dictionary["lesson"].date }} <br>
        Capacity: {{ dictionary["lesson"].capacity }} <br>
        </a>
        <label for="capacity">{{ dictionary["lesson"].name }} Current Attendees:</label><br>
        <progress id="capacity" value={{dictionary["current_attendies_number"]}} max= {{dictionary["lesson"].capacity}} ></progress>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}