{% extends 'base.html' %}

{% block content %}

<div class="items-container">

<div class="individual-items">

<h2> {{member.first_name}} {{member.last_name}}</h2>

<p>{{member.date_of_birth}}</p>
<p>{{member.address}}</p>
<p>{{member.tel_number}}</p>
<p>{{member.email}}</p>

<form action="/members/{{ member.id }}/edit">
    <input type="submit" value="Edit {{ member.first_name}} {{member.last_name}}" id="submit"/>
</form>
<form action="/members/{{ member.id }}/delete">
    <input type="submit" value="Delete {{ member.first_name}} {{member.last_name}}" id="submit"/>
</form>
</div>

<div class="individual-items">
<h2> Current Lessons</h2>

{% for visit in visits %}
    <a href="/lessons/{{ visit.lesson.id }}">
        <p> {{ visit.lesson.name }} </p>
    </a>
    <form action="/visits/{{visit.id}}/delete">
    <input type="submit" value="Remove From Lesson"/>
    </form>
    {% endfor %}
</div>

</div>


{% endblock %}